@import ../../style-globals/_mixins.sass
@import ../../style-globals/_variables.sass

.project-list
  display: block
  font-size: 12pt
  border: 0

  .list-head, .list-body .project-row
    display: block
    position: relative

  .list-head div, .list-body .project-row div
    padding: 0 10px
    display: inline-block

  .list-head
    font-weight: bold

    // Address default margin between inline-blocks
    div
      margin-right: -4px

.project-row
  background: #f8f8f8
  border: 1px solid #b6b6b6
  height: 40px
  line-height: 40px
  clear: both

.project-row:not(:first-of-type)
  margin-top: -1px

// Sizing of table columns
.project-row, .project-list .list-head
  div:first-of-type
    width: 40%

  div:nth-of-type(2)
    width: 20%

  div:nth-of-type(3)
    width: 20%

  div:last-of-type
    width: 20%

    span
      margin-right: 10px

.project-row .project-icons div
  display: inline
  position: relative
  top: 5px
  width: 30px
  height: 30px
  margin-right: 5px
  font-size: 12pt
  color: white
  +border-radius(100%)
  +clickable
  +transition(background, $transition-length)

  span
    position: relative
    top: -4px
    left: -1px

  &.open
    $icon-color: #0c60bf
    background: $icon-color

    &:hover
      background: lighten($icon-color, 10%)

    &:active
      background: darken($icon-color, 10%)

  &.users
    font-size: 10pt
    $icon-color: #17bf55
    background: $icon-color

    span
      left: -2px

    &:hover
      background: lighten($icon-color, 10%)

    &:active
      background: darken($icon-color, 10%)

  &.delete
    $icon-color: #e3474d
    background: $icon-color

    &:hover
      background: lighten($icon-color, 10%)

    &:active
      background: darken($icon-color, 10%)
