# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# See https://github.com/gradle/gradle/issues/12248
buildSrc/src/main/**/*.gradle.kts  text eol=lf
