# NPM dependencies
node_modules/

# Generated assets
build/

# TypeScript specific file
src/scripts/.baseDir.ts

# TypeScript definitions
typings/

# Yarn lockfile
yarn.lock

# WebStorm
.idea/

# Standard config file
config.json
