[submodule "opendc-web-server"]
	path = opendc-web-server
	url = https://atlarge.ewi.tudelft.nl/gitlab/opendc/opendc-web-server.git
	branch = master
[submodule "opendc-frontend"]
	path = opendc-frontend
	url = https://atlarge.ewi.tudelft.nl/gitlab/opendc/opendc-frontend.git
	branch = master
[submodule "opendc-simulator"]
	path = opendc-simulator
	url = https://atlarge.ewi.tudelft.nl/gitlab/opendc/opendc-simulator.git
	branch = master
