[submodule "opendc-web-server"]
	path = opendc-web-server
	url = https://github.com/atlarge-research/opendc-web-server.git
	branch = master
[submodule "opendc-frontend"]
	path = opendc-frontend
	url = https://github.com/atlarge-research/opendc-frontend.git
	branch = master
[submodule "opendc-simulator"]
	path = opendc-simulator
	url = https://github.com/atlarge-research/opendc-simulator.git
	branch = master
