typing_extensions~=4.12.2
pillow~=10.4.0
pip~=23.2.1
wheel~=0.41.2
setuptools~=68.2.0
six~=1.16.0
pytz~=2024.1
packaging~=24.1
python-dateutil~=2.9.0.post0
Pygments~=2.18.0
rich~=13.7.1
idna~=3.7
certifi~=2024.7.4
numpy~=1.26.4
matplotlib~=3.9.1
requests~=2.32.3
MarkupSafe~=2.1.5
pandas~=2.2.2
pyarrow~=16.1.0
Markdown~=3.6
tzdata~=2024.1
urllib3~=2.2.2
contourpy~=1.2.1
fonttools~=4.53.1
pyparsing~=3.1.2
cycler~=0.12.1
kiwisolver~=1.4.5
Werkzeug~=3.0.3
