.bodyWrapper {
    position: relative;
    overflow-y: hidden;
}

.introSection,
.modelingSection,
.technologiesSection {
    background-color: #fff;
}

.stakeholderSection,
.simulationSection,
.teamSection {
    background-color: #f2f2f2;
}
