.contactSection {
    background-color: #444;
    color: #ddd;

    a {
        color: #ddd;

        &:hover {
            color: #fff;
        }
    }

    .tudelftIcon {
        height: 100px;
    }

    .disclaimer {
        color: #cccccc;
    }
}
