.terminalWindow {
    display: block;
    align-self: center;

    margin: auto;

    user-select: none;
    cursor: default;

    overflow: hidden;

    box-shadow: 5px 5px 20px #444444;
}

.terminalHeader {
    font-family: monospace;
    background: #cccccc;
    color: #444444;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.terminalBody {
    font-family: monospace;
    text-align: center;
    background-color: #333333;
    color: #eeeeee;
    padding: 10px;

    height: 100%;
}

.segfault {
    text-align: left;
}

.subTitle {
    margin-top: 20px;
}

.homeBtn {
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
    border: 1px solid #eeeeee;
    color: #eeeeee;
    text-decoration: none;
    cursor: pointer;

    transition: all 200ms;

    &:hover,
    &:active {
        background: #eeeeee;
        color: #333333;
    }
}
