html, body, #root
  margin: 0
  padding: 0
  width: 100%
  height: 100%

  font-family: Roboto, Helvetica, Verdana, sans-serif
  background: #eee

.full-height
  height: 100%

.page-container
  padding-top: 60px

.text-page-container
  padding-top: 80px

a, a:hover
  text-decoration: none
