# Workflow for creating a draft release once a new tag is pushed to GitHub
name: Release

on:
  push:
    tags: ['v*']

jobs:
  build:
    name: Build OpenDC
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Publish with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleDist
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          prerelease: ${{ contains(github.ref, '-rc') || contains(github.ref, '-m') }}
          files: "**/build/distributions/*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
