name: Test latest Gradle RC
on:
  schedule:
    - cron: 0 0 * * 0 # weekly

jobs:
  gradle-rc:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 20
      - uses: gradle/gradle-build-action@v2
        with:
          cache-disabled: true
          gradle-version: release-candidate
          arguments: build --dry-run # just test build configuration
