name: Test Java EA release
on:
  schedule:
    - cron: 0 0 * * 0 # weekly

jobs:
  java-ea:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21-ea
      - uses: gradle/actions/setup-gradle@v3
        with:
          cache-disabled: true
          gradle-version: release-candidate
          arguments: build
